<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>

<body>
    <div id="policy-evaluation-rule">
        <form v-on:submit.prevent="save">
            <p>政策评测规则 <button v-on:click="addProlicy">添加规则</button></p>
            <div v-for="rule in rules">
                <p>{{rule.name}}:</p>
                <div v-for="(attr, index) in rule.prolicyAttrs">
                    <span>如果满足政策属性: </span>
                    <select>
                        <option value="employeeCount">职工总数</option>
                        <option value="enterpriseZone">企业技术领域</option>
                    </select>
                    <select>
                        <option value=">">大于</option>
                        <option value="<">小于</option>
                        <option value=">=">大于等于</option>
                        <option value="<=">小于等于</option>
                        <option value="=">等于</option>
                    </select>
                    <input type="number" name="policyVal" v-model="attr.attrVal" id="policyId">
                    <button v-on:click="addProlicyAttr(rule)">添加政策属性</button>
                    <button v-if="index != 0" v-on:click="rule.prolicyAttrs.splice(index, 1)">移除政策属性</button>
                </div>

                <p>设置政策评测结果: <input type="number" name="policyStar" id="policyStarId">星</p>
            </div>

            <button>提交</button><button>取消</button>
        </form>
    </div>

    <script>
        var vm = new Vue({
            el: '#policy-evaluation-rule',
            data: {
                rules: [
                    {
                        index: 1,
                        name: "规则1",
                        prolicyAttrs: [
                            { attrName: "name1", attrType: "int", attrOperation: "gt", attrVal: "50" }
                        ]
                    },
                    {
                        index: 2,
                        name: "规则2",
                        prolicyAttrs: [
                            { attrName: "name1", attrType: "int", attrOperation: "gt", attrVal: "50" }
                        ]
                    }
                ]
            },
            methods: {
                addProlicy: function () {
                    let temp = this.rules.length
                    this.rules.push({
                        index: temp++,
                        name: "规则" + temp++,
                        prolicyAttrs: [
                            { attrName: "name1", attrType: "int", attrOperation: "gt", attrVal: "50" }
                        ]
                    })
                },
                addProlicyAttr: function (rule) {
                    rule.prolicyAttrs.push({
                        attrName: "name1",
                        attrType: "int",
                        attrOperation: "gt",
                        attrVal: "50"
                    })
                },
                removeProlicyAttr: function (attr) {
                    delete attr;
                },
                save: function() {
                    console.log(this.rules)
                }
            }
        })
    </script>
</body>

</html>